/****** Layout Section ******/

:root {
  --main-bg-color: #eeeff0;
  --text-color-dark: #3d4553;
  --text-color-light: #eeeff0;
  --color-pop: #e9cf5c;
  --navbar-color: #3d4553;
  --neutral-color: #99a49e;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  margin: 0px auto;
  padding-bottom: 50px;
  background-color: var(--main-bg-color);
}

h1,h2,h3,h4,h5,h6 {
  color: var(--text-color-dark);
}

#navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: var(--navbar-color);
}

.nav-link {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  color: var(--text-color-light);
}

.nav-link:hover {
  background-color: var(--main-bg-color);
  color: var(--text-color-dark);
}

@media screen and (max-width: 365px) {
  #navbar {
    transition: 0.2s ease-out;
    transition-property: height;
    height: 150px;
  }
}

@media screen and (min-width: 365px) {
  #navbar {
    transition: 0.2s ease-out;
    transition-property: height;
    height: 50px;
  }
}

@media screen and (max-width: 365px) {
  .nav-link {
    width: 100%;
  }
}

.main {
  height: auto;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.footer {
  background-color: var(--neutral-color);
  color: var(--text-color-light);
  border-top: 2px solid var(--color-pop);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  padding-top: 20px;
  overflow: hidden;
  text-align: center;
}

/****** Index page ******/
#circle {
  width: 500px;
  height: 500px;
  background: radial-gradient(
    circle at 400px 400px,
    var(--color-pop),
    rgba(0, 0, 0, 0)
  );
  border-radius: 50%;
  box-shadow: 10px 10px 5px 3px rgba(0, 0, 0, 0.1);
  transform: scale(100%);
}

.title {
  position: absolute;
  font-size: 150px;
  color: var(--text-color-dark);
  z-index: 1;
}

#hidden-title {
  display: none;
}

/****** About page ******/

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 60vw;
  height: 60vh;
  box-shadow: 10px 10px 10px 3px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

.about-text-container {
  width: 50%;
  height: 100%;
  color: var(--text-color-dark);
}

.about-text{
  color: var(--text-color-dark);
  height: 33%;
  line-height: 30px;
  padding: 10px 20px;
  text-align: center;
  font-size: .8rem;
}

.about-picture {
  width: 50%;
  height: 100%;
  background-image: url('images/Forest.png');
  background-size: cover;
  background-position-x: center;
  border-radius: 15px 0 0 15px;
}
/****** Challenge Page ******/

#result-box {
  min-width: 70%;
  min-height: 300px;
  width: auto;
  height: auto;
  border: 1px solid var(--neutral-color);
  padding: 10px;
  margin: 20px 0;
  background-color: white;
}
/* 
#result-btn {
  background-color: var(--color-pop);
  width: 100px;
  height: 30px;
  padding: 2px;
  border-radius: 7px;
}

#result-btn:hover {
  background-color: #ccb966;
} */

#clear-btn {
  background-color: rgb(252, 96, 96);
  width: 100px;
  height: 30px;
  padding: 2px;
  border-radius: 7px;
  margin-top: 10px;
}

#clear-btn:hover {
  background-color: rgb(202, 76, 76);
}

#instructions-container, #code-container, #output-container {
  width: 800px;
  height: 500px;
  background-color: white;
  background-color: var(--color-pop);
  border-radius: 0 5px 5px 5px;
}

#code-container, #output-container{
  display: none;
}

#tab-container {
  width: 800px;
  margin-top: 30px;
}

.tab {
  height: 30px;
  width: 120px;
  float: left;
  border-radius: 0;
  background-color: white;
  border: 1.5px solid var(--text-color-dark);
  border-top: none;
  border-bottom: none;
  color: var(--text-color-dark);
  font-weight: bold;
}

.tab:first-child {
  border: none;
  border-radius: 5px 0 0 0;
}

.tab:last-child {
  border: none;
  border-radius: 0 5px 0 0;
}

.tab-active {
  background-color: var(--color-pop);
}

#instructions-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
}

#instructions-text, #example-text {
  background-color: white;
  border: 1px solid var(--neutral-color);
  padding: 5px 0 0 5px;
  width: 75%;
  min-height: 20%;
}

#code-container {
  display: none;
  align-items: center;
  justify-content: center;
}

#code-box {
  width: 80%;
  height: 80%;
  background-color: black;
  color: lime;
}

#output-container {
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

/****** Media Queries ******/

/*Medium Screen Size*/
@media screen and (min-width: 800px) {
  #circle {
    width: 500px;
    height: 500px;
    transition: 0.2s ease-out;
    transition-property: height, width;
  }

  .title {
    font-size: 150px;
    transition: 0.2s ease-out;
    transition-property: font-size;
  }
}

@media screen and (max-width: 800px) {
  #circle {
    width: 300px;
    height: 300px;
    transition: 0.2s ease-out;
    transition-property: height, width;
  }

  .title {
    font-size: 80px;
    transition: 0.2s ease-out;
    transition-property: font-size;
  }
}

/*Small Screen Size*/
@media screen and (min-width: 435px) {
  #circle {
    display: flex;
    transition: 0.2s ease-out;
    transition-property: display;
  }
}

@media screen and (max-width: 435px) {
  .main {
    padding: 0;
    background: linear-gradient(
      to bottom,
      var(--main-bg-color) 0%,
      var(--color-pop) 100%
    );
  }

  #circle {
    display: none;
  }

  #hidden-title,
  #hidden-title h1 {
    text-align: center;
    display: block;
    font-size: 150px;
    margin: 0 auto;
  }

  #hidden-title p {
    font-size: 30px;
    font-variant: small-caps;
    margin: 0 auto;
  }

  .title {
    display: none;
  }

  .image-container {
    width: 100%;
    border-radius: 0;
    border-bottom: 2px solid var(--color-pop);
  }

  .bio {
    background-color: white;
    width: 100%;
  }

  .tab {
    width: 33%;
  }
}

@media screen and (max-width: 800px) {
  #instructions-container, #code-container, #output-container {
    width: 100%;
  }

  #tab-container {
    width: 100%;
    margin-top: 30px;
  }

}

@media screen and (min-width: 800px) {
  #instructions-container, #code-container, #output-container {
    width: 800px;
  }

  #tab-container {
    width: 800px;
  }

  #result-box {
    width: 70%;
  }
}



